Repository RamenDR/ramen, changes with the owners that CODEOWNERS names for each.
All owners: @ShyamsundarR, @BenamarMk, @ELENAGER, @rakeshgm, @raghavendra-talur, @nirs

Initial ramen label changes
  internal/controller/cephfscg/cghandler.go
  internal/controller/cephfscg/replicationgroupdestination.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/drcluster_controller.go
  internal/controller/drclusterconfig_controller.go
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/kubeobjects/velero/requests.go
  internal/controller/util/mcv_util.go
  internal/controller/util/misc.go
  internal/controller/util/mw_util.go
  internal/controller/util/secrets_util.go
  internal/controller/volsync/secret_propagator.go
  internal/controller/volsync/secretgen.go
  internal/controller/volsync/vshandler.go
  internal/controller/vrg_volrep.go
Owners: @ShyamsundarR, @BenamarMk

Update Ramen to use the v1beta1 version of the external-snapshotter API
  Makefile
  cmd/main.go
  go.mod
  go.sum
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  internal/controller/cephfscg/cephfscg_suite_test.go
  internal/controller/cephfscg/cghandler_test.go
  internal/controller/cephfscg/replicationgroupdestination_test.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/cephfscg/volumegroupsourcehandler_test.go
  internal/controller/replicationgroupsource_controller.go
  internal/controller/suite_test.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/cephfs_cg_test.go
  internal/controller/util/util_suite_test.go
Owners: @ShyamsundarR, @BenamarMk

ceph-fs new sc and fs added
  e2e/config.yaml.sample
  test/addons/rook-cephfs/filesystem.yaml
  test/addons/rook-cephfs/provision-test/pvc.yaml
  test/addons/rook-cephfs/start
  test/addons/rook-cephfs/storage-class.yaml
  test/addons/volsync/app/file/kustomization.yaml
  test/addons/volsync/rd/file/kustomization.yaml
Owners: @nirs, @raghavendra-talur

recipe: doc update
  docs/recipe.md
Owners: @raghavendra-talur, @ShyamsundarR

github-ci: cancel in-progress runs if PR is updated
  .github/workflows/e2e.yaml
Owners: @ShyamsundarR, @BenamarMk

config: events permissions for the hub role
  config/hub/rbac/role.yaml
Owners: @ShyamsundarR, @BenamarMk

github-ci: cancel in-progress runs if PR is updated
  .github/workflows/e2e.yaml
Owners: @ShyamsundarR, @BenamarMk

Add VolumeGroupReplication support.
  api/v1alpha1/drplacementcontrol_types.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  config/dr-cluster/rbac/role.yaml
  config/rbac/role.yaml
  hack/test/replication.storage.openshift.io_volumegroupreplicationclasses.yaml
  hack/test/replication.storage.openshift.io_volumegroupreplicationcontents.yaml
  hack/test/replication.storage.openshift.io_volumegroupreplications.yaml
  internal/controller/drplacementcontrol_controller.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volrep_test.go
Owners: @ShyamsundarR, @BenamarMk

Update Ramen to use the v1beta1 version of the external-snapshotter API
  Makefile
  cmd/main.go
  go.mod
  go.sum
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  internal/controller/cephfscg/cephfscg_suite_test.go
  internal/controller/cephfscg/cghandler_test.go
  internal/controller/cephfscg/replicationgroupdestination_test.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/cephfscg/volumegroupsourcehandler_test.go
  internal/controller/replicationgroupsource_controller.go
  internal/controller/suite_test.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/cephfs_cg_test.go
  internal/controller/util/util_suite_test.go
Owners: @ShyamsundarR, @BenamarMk

Backup and restore volumegroupreplication and volumegroupreplicationcontent
  Dockerfile
  api/go.mod
  config/dr-cluster/rbac/role.yaml
  e2e/go.mod
  go.mod
  go.sum
  internal/controller/s3utils.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
Owners: @ShyamsundarR, @BenamarMk, @nirs, @raghavendra-talur

vrg: remove the extra naming in the logger
  internal/controller/volumereplicationgroup_controller.go
Owners: @ShyamsundarR, @BenamarMk

drenv: added new SC and Pool for RBD
  test/addons/rook-pool/replica-pool.yaml
  test/addons/rook-pool/start
  test/addons/rook-pool/storage-class.yaml
Owners: @nirs, @raghavendra-talur

ceph-fs new sc and fs added
  e2e/config.yaml.sample
  test/addons/rook-cephfs/filesystem.yaml
  test/addons/rook-cephfs/provision-test/pvc.yaml
  test/addons/rook-cephfs/start
  test/addons/rook-cephfs/storage-class.yaml
  test/addons/volsync/app/file/kustomization.yaml
  test/addons/volsync/rd/file/kustomization.yaml
Owners: @nirs, @raghavendra-talur

recipe: doc update
  docs/recipe.md
Owners: @raghavendra-talur, @ShyamsundarR

Fix CG PVC selection issue due to storageId mismatch on failover
  api/v1alpha1/replicationgroupdestination_types.go
  api/v1alpha1/replicationgroupsource_types.go
  config/crd/bases/ramendr.openshift.io_replicationgroupdestinations.yaml
  config/crd/bases/ramendr.openshift.io_replicationgroupsources.yaml
  internal/controller/cephfscg/cghandler.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volsync.go
Owners: @ShyamsundarR, @BenamarMk

Adds status to DRClusterConfig
  api/v1alpha1/drclusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/_.yaml
  config/crd/bases/ramendr.openshift.io_drclusterconfigs.yaml
  internal/controller/drclusterconfig_controller.go
Owners: @ShyamsundarR, @BenamarMk

Adds CEL rule for clusterID
  api/v1alpha1/drclusterconfig_types.go
  config/crd/bases/ramendr.openshift.io_drclusterconfigs.yaml
  internal/controller/drclusterconfig_controller_test.go
Owners: @ShyamsundarR, @BenamarMk

drenv: update external-snapshotter addon to v8.2
  test/addons/external-snapshotter/cache
  test/addons/external-snapshotter/controller/kustomization.yaml
  test/addons/external-snapshotter/crds/kustomization.yaml
  test/addons/external-snapshotter/start
Owners: @nirs, @raghavendra-talur

drenv: update rook from 1.15 to 1.16
  test/addons/rook-cephfs/filesystem.yaml
  test/addons/rook-cephfs/snapshot-class.yaml
  test/addons/rook-cephfs/storage-class.yaml
  test/addons/rook-cluster/cache
  test/addons/rook-cluster/kustomization.yaml
  test/addons/rook-cluster/start
  test/addons/rook-operator/cache
  test/addons/rook-operator/kustomization.yaml
  test/addons/rook-operator/start
  test/addons/rook-pool/snapshot-class.yaml
  test/addons/rook-toolbox/cache
  test/addons/rook-toolbox/kustomization.yaml
  test/addons/rook-toolbox/start
Owners: @nirs, @raghavendra-talur

drenv: add patch to enable VolumeGroupSnapshot
  test/addons/external-snapshotter/controller/kustomization.yaml
Owners: @nirs, @raghavendra-talur

vrg: don't protect kube resources as secondary during relocation
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
Owners: @ShyamsundarR, @BenamarMk

log for progression
  internal/controller/drplacementcontrol.go
Owners: @ShyamsundarR, @BenamarMk

vrg: differentiate vrg and kube objects upload msg
  internal/controller/status.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_vrgobject.go
Owners: @ShyamsundarR, @BenamarMk

vrg: better logging for conditions
  internal/controller/status.go
  internal/controller/util/conditions.go
  internal/controller/volumereplicationgroup_controller.go
Owners: @ShyamsundarR, @BenamarMk

vrg: improve log message
  internal/controller/vrg_kubeobjects.go
Owners: @ShyamsundarR, @BenamarMk

drenv: add patch to enable VolumeGroupSnapshot
  test/addons/external-snapshotter/controller/kustomization.yaml
Owners: @nirs, @raghavendra-talur

drenv: update rook from 1.15 to 1.16
  test/addons/rook-cephfs/filesystem.yaml
  test/addons/rook-cephfs/snapshot-class.yaml
  test/addons/rook-cephfs/storage-class.yaml
  test/addons/rook-cluster/cache
  test/addons/rook-cluster/kustomization.yaml
  test/addons/rook-cluster/start
  test/addons/rook-operator/cache
  test/addons/rook-operator/kustomization.yaml
  test/addons/rook-operator/start
  test/addons/rook-pool/snapshot-class.yaml
  test/addons/rook-toolbox/cache
  test/addons/rook-toolbox/kustomization.yaml
  test/addons/rook-toolbox/start
Owners: @nirs, @raghavendra-talur

drenv: update external-snapshotter addon to v8.2
  test/addons/external-snapshotter/cache
  test/addons/external-snapshotter/controller/kustomization.yaml
  test/addons/external-snapshotter/crds/kustomization.yaml
  test/addons/external-snapshotter/start
Owners: @nirs, @raghavendra-talur

Updating unit-tests to accomodate drcluster MW changes
  internal/controller/controllers_utils_test.go
  internal/controller/drplacementcontrol_controller_test.go
Owners: @ShyamsundarR, @BenamarMk

Change local secret implementation to k8s secret
  internal/controller/util/secrets_util.go
Owners: @ShyamsundarR, @BenamarMk

Remove clusterRoles and Rolebindings from drcluster MW
  internal/controller/drclusters.go
  internal/controller/util/mw_util.go
Owners: @ShyamsundarR, @BenamarMk

Add New VRCs & VSCs, FixDuplicate SC-ID Issue
  test/addons/rbd-mirror/start
  test/addons/rbd-mirror/start-data/vgrc-sample.yaml
  test/addons/rbd-mirror/start-data/vrc-sample.yaml
  test/addons/rook-cephfs/snapshot-class.yaml
  test/addons/rook-cephfs/start
  test/addons/rook-cephfs/storage-class.yaml
  test/addons/rook-pool/snapshot-class.yaml
  test/addons/rook-pool/start
  test/addons/rook-pool/storage-class.yaml
Owners: @nirs, @raghavendra-talur

Deploying clusterRoles and Rolebindings through drpolicy
  internal/controller/drclusters.go
  internal/controller/drpolicy.go
  internal/controller/util/secrets_util.go
Owners: @ShyamsundarR, @BenamarMk

Updating unit-tests for drpolicy changes
  internal/controller/controllers_utils_test.go
  internal/controller/drplacementcontrol_controller_test.go
  internal/controller/util/secrets_util_test.go
Owners: @ShyamsundarR, @BenamarMk

volrep: Fix archived annotation formatting
  internal/controller/vrg_volrep.go
Owners: @ShyamsundarR, @BenamarMk

volrep: Simplify annotation check
  internal/controller/vrg_volrep.go
Owners: @ShyamsundarR, @BenamarMk

vrg: differentiate vrg and kube objects upload msg
  internal/controller/status.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_vrgobject.go
Owners: @ShyamsundarR, @BenamarMk

vrg: don't protect kube resources as secondary during relocation
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
Owners: @ShyamsundarR, @BenamarMk

log for progression
  internal/controller/drplacementcontrol.go
Owners: @ShyamsundarR, @BenamarMk

vrg: improve log message
  internal/controller/vrg_kubeobjects.go
Owners: @ShyamsundarR, @BenamarMk

CODEOWNERS:

# SPDX-FileCopyrightText: The RamenDR authors
# SPDX-License-Identifier: Apache-2.0

# For supported syntax see docs:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners if there is no more specific rule.
*   @ShyamsundarR @BenamarMk

# volrep
/internal/controllers/vrg_volrep*.go    @ShyamsundarR @ELENAGER

# volsync
/internal/controllers/volsync/          @BenamarMk @ELENAGER
/internal/controllers/vrg_volsync*.go   @BenamarMk @ELENAGER

# cephfs consistency groups
/internal/controllers/cephfscg/     @BenamarMk @ELENAGER

# Metrics
/docs/metrics.md                    @rakeshgm @ShyamsundarR
/internal/controllers/metrics.go    @rakeshgm @ShyamsundarR
/internal/controllers/cel/          @rakeshgm @ShyamsundarR

# Kube object protection
/docs/recipe.md                             @raghavendra-talur @ShyamsundarR
/docs/krp.md                                @raghavendra-talur @ShyamsundarR
/internal/controllers/kubeobjects/          @raghavendra-talur @ShyamsundarR
/internal/controllers/vrg_kubeobjects*.go   @raghavendra-talur @ShyamsundarR
/internal/controllers/vrg_recipe*.go        @raghavendra-talur @ShyamsundarR

# Testing
/test/                          @nirs @raghavendra-talur
/e2e/                           @nirs @raghavendra-talur
/docs/testing.md                @nirs @raghavendra-talur
/docs/devel-quick-start.md      @nirs @raghavendra-talur
/docs/user-quick-start.md       @nirs @raghavendra-talur
